doctype html
html
    head
        meta(charset='utf-8')
        title= title
        meta(name='keywords', content='nodejs,js,css,minify,uglifyjs,clean-css')
        meta(name='description', content='使用Nodejs实现的js/css代码压缩工具，js压缩使用UglifyJS，css压缩使用clean-css，其中js压缩时可选择将中文转换为Unicode编码...')
        meta(name='robots', content='all')
        meta(name='author', content='MrZheng')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content